<h1>Add a book</h1>

<form {{action "create" on="submit"}}>
  <div>
    <label>
      Title<br>
      {{input type="text" value=title}}
    </label>
    {{#each error in errors.title}}
      <p>{{error.message}}</p>
    {{/each}}
  </div>
  <div>
    <label>
      Author name<br>
      {{input type="text" value=authorName}}
    </label>
  </div>
  <button>Save</button>
</form>
